<% unless flash[:error].nil? %>
	<h6 id='error' class="center"><%= flash[:error] %></h6>
<% end %>

<div class="login-container">
<%= form_for :user do |f| %>
	<fieldset>
  		<legend><p>Login</p></legend>
  		
  		<table>
  			<tr>
  				
  				<div class="field">
    				<td><%= f.label 'username:' %></td>
    				<td class="indent"><%= f.text_field :username %></td>
  				</div>
			</tr>
			
			<tr>
  				<div class="field">
    				<td><%= f.label 'password:' %></td>
    				<td class="indent"><%= f.password_field :password %></td>
	  			</div>
  		  	</tr>
  		  	
  		  	<tr>
	  		  	<div class="field">
    				<td><%= f.label 'confirm password:' %></td>
    				<td class="indent"><%= f.password_field :password_confirmation %></td>
	  			</div>
  			</tr>
  		</table>
  		<div class="field">
    		<%= f.submit 'Login', :class => 'submit-button' %>
  		</div>
  	</fieldset>
<% end %>  	
</div>