
<p id="notice"><%= notice %></p>

<div class="image-container">
	<div class="show-header-container">
		<p><%= @gallery.title %></p>
	</div>
	
	<%= image_tag @gallery.image.url(:large), :class => "show-image"%>
	
	<div id='add-to-cart-container'>
		<span id='cart-span'><%= image_tag 'Cart-icon.png', class: 'cart-icon'%></span>
		<% if @cart.nil? %>
			<span onclick="window.location.href = '/users/login';">Add To Cart</span>
		<% else %>
			<span onclick="cart.addItem(<%= @gallery.id %>)">Add To Cart</span>
		<% end %>
		<span>$<%= '%.2f' % @gallery.price %></span>
	</div>
	
	<div class="show-description-container">
		<h6>Description:</h6>
		<span><%= @gallery.description %></span>
	</div>
	
</div>

<div id='admin-links'>
	<% if !session[:user_id].nil? && @current_user.admin %>
		<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
		<%= link_to 'Delete', @gallery, method: :delete, data: { confirm: 'Are you sure?' } %> |
		<%= link_to 'Back', galleries_path %>
	<% end %>
</div>