
<p id="notice"><%= notice %></p>

<div class="image-container">
	
	<%= image_tag @gallery.image.url(:large), :class => "show-image"%>
	<div class="show-description-container">
		<h2 class='show-title'><%= @gallery.title %></h2>
	</div>
	<div class="show-description-container">
		Description:
		<p><%= @gallery.description %></p>
	</div>

</div>

<div id='admin-links'>
	<% if !session[:user_id].nil? && @current_user.admin %>
		<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
		<%= link_to 'Delete', @gallery, method: :delete, data: { confirm: 'Are you sure?' } %> |
		<%= link_to 'Back', galleries_path %>
	<% end %>
</div>