<!DOCTYPE html>
<html>
  <head>
    <title>TiffanysWebsite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  	
	<div class='header-color'>
	</div>

	<div class='header'>
	  	<h1 class='web-header-container'><span class="web-header">T i f f a n y</span><span class="web-header two">N e l s o n</span></h1>
	  	<div class='header-description'><em>artist | metal smith | maker</em></div>
	  	<span class="login-container">
			<ul>
				<% if session[:user_id].nil? %>
					<li><%= link_to 'Login', login_path, :class => 'login', method: :get %></li>
				<% else %>
					<li><%= link_to 'Logout', logout_path, :class => 'logout', method: :get %></li>				
				<% end %>
			
				<% if session[:user_id].nil? %>	
					<li><%= link_to 'New User', new_user_path, :class => 'logout' %></li>
				<% else %>
					<li><%= link_to 'Account', edit_user_path(@current_user.id), :class => 'login' %></li>
				<% end %>			
			</ul>
		</span>
  	</div>
  	
	
  	
  	<div class='overflow-container'>
	  	<div>
  			<div id='menu-container'>
  				<li><%= link_to 'Artist', root_path, :class => 'main-menu' %></li>
    			<li class="bar">|</li>
  				<li><%= link_to 'Gallery', galleries_path, :class => 'main-menu' %></li>
  				<li class="bar">|</li>
    			<li><%= link_to 'Discussion', discussion_path, :class => 'main-menu' %></li>
  				<li class="bar">|</li>
  				<li><%= link_to 'Contact', contact_path, :class => 'main-menu' %></li>
		  	</div>
	  	</div>
  	</div>
  	

  	
  	<div class='page-spacing'>
  		<div class="<%= controller.controller_name %>">
    		<%= yield %>
	    </div>
    </div>
    

  
  </body>
</html>








